body {
  margin: 0px;
  padding: 0px;
}
.box_login {
  background-color: #d2d6de;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logo {
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
}
.wrapper_box_input {
  padding: 20px;
  background-color: #fff;
  border: gray;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper_box_input .title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
}

.wrapper_box_input .box_input {
  padding: 5px 10px;
  margin-top: 10px;
  width: 500px;
  border: 1px solid #d2d6de;
  display: flex;
  align-items: center;
}
.wrapper_box_input .box_input .input {
  border: 0px;
  width: 100%;
}
.wrapper_box_input .box_input .input:focus {
  border: 0px;
  outline: 0px;
}
.wrapper_login {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 0px 10px;
}
.wrapper_login .remember {
  display: flex;
  align-items: center;
}
.wrapper_login .btn_login {
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #3982d1;
}
.wrapper_login .remember input {
  width: 20px;
  height: 20px;
  accent-color: #3982d1;
}
